.logo {
    margin: 0px;
}
.picture {
    height: 130px;
}
.picture2 {
    height: 500px;
}
.txt_min {
    font-size: 0.9em;
}
.txt_max {
    font-size: 1.5em;
}
.bold {
    font-weight: 700;
}

.integrantes {
    font-size: 0.7em;
}
.login-btn{
    width: 100%;
    height: 100%;
    background-color: seagreen;
    border: 0px;
    border-radius: 50px;
    color: white;
    transition-duration: 0.4s;
}

.login-btn:hover {
    background-color: #21643e;
}
button.link-style {
    color: #4a535a;
    text-decoration: none;
}

